@charset "UTF-8";
* {
  user-select: none;
}
/* BODY--------------------------------------------------------------------*/
body{
    background-image: url(fundo.jpg);
    background-size: cover;
    background-position: center;
    height: 90dvh;
}
/* MAIN--------------------------------------------------------------------*/
main{
    background-color: rgba(0, 0, 0, 0.668);
    border-radius: 10px;
    max-width: 1050px;
    min-width: 300px;
    padding: 10px;
    margin: auto;
    box-shadow: 20px;
    border: solid #ffffff;
    transform: scale(0.8);
    transform-origin: top center;
}
@media screen and (max-width: 850px){
main{
    background-color: rgba(0, 0, 0, 0.668);
    border-radius: 10px;
    max-width: 1050px;
    min-width: 300px;
    padding: 10px;
    margin: auto;
    box-shadow: 20px;
    border: solid #ffffff;
    transform: scale(0.81);
    transform-origin: top center;
}
}
/* VIDEO--------------------------------------------------------------------*/
div.video{
    background-color: var(--cor05);
    margin: auto;
    padding: 0px;
    padding-bottom: 30%;
    position: relative;
    width: 55%;
}
div.video > iframe{
    position: absolute;
    top: 1%;
    left: 3%;
    width: 90%;
    height: 90%;
    transform: scale(1.1);
    display: block;
    margin: auto;
    border-radius: 20px;
    border: 4px solid #ffffff;
}
@media screen and (max-width: 850px){
div.video{
    background-color: var(--cor05);
    margin: auto;
    padding: 0px;
    padding-bottom: 55%;
    position: relative;
    width: 80%;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 3%;
    width: 90%;
    height: 90%;
    transform: scale(1.1);
    display: block;
    margin: auto;
    border-radius: 20px;
    border: 4px solid #ffffff;
}
}
/* H1, H2 e P --------------------------------------------------------------------*/
h1{
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 50px;
    color: aliceblue;
    text-align: center;
}
h2{
    color: #ff77c9;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    
}
p{
    text-align: center;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    margin-left: 10px;
    margin-right: 10px;
}


/* ICONS --------------------------------------------------------------------*/
.icons2{
    width: 150px;
   
}
.icons{
    width: 100px;
}
/* FOTO DE PERFIL --------------------------------------------------------------------*/
.main {
    position: relative;
    width: 100%;
    max-width: 300px; /* tamanho máximo opcional */
    margin: 0 auto;   /* centraliza a div */
}

.main > img.img-back {
    width: 100%;      /* ambas ficam responsivas */
    display: block;
}


/* imagem de baixo */
.img-back {
    position: relative; /* fica na base */
    border-radius: 400px;
}

/* imagem de cima */
.img-front {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 85%; /* tamanho da imagem de cima */
    transform: translate(-50%, -50%);
    pointer-events: auto; /* deixa o hover funcionar */
    border-radius: 400px;
}
/* EFEITOS --------------------------------------------------------------------*/
.zoom{
     transition: transform 0.3s ease; /* suavidade */
}

.zoom:hover {
  transform: scale(1.1); /* aumenta 10% */
}
.glow {
  color: #fff;
  transition: text-shadow 0.3s ease; /* suavidade */
  
  /* brilho fraco */
  text-shadow: 
    0 0 8px rgb(0, 0, 0),
    0 0 8px rgb(255, 255, 255);
}

.glow:hover {
  /* brilho forte */
  text-shadow:
    0 0 8px rgb(0, 0, 0),
    0 0 16px rgb(255, 255, 255),
    0 0 32px rgb(255, 255, 255),
    0 0 48px rgb(255, 255, 255);
}
.zoom2{
     transition: transform 0.3s ease; /* suavidade */
}

.zoom2:hover {
  transform: scale(0.81); /* aumenta 10% */
}
.zoom3{
     transition: transform 0.3s ease; /* suavidade */
}

.zoom3:hover {
  transform: scale(1.11); /* aumenta 10% */
}
h2:hover{
    color: white;
}
